# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Project specific
# research_paper/
# faiss_index/
